<<<<<<< HEAD
<%- include('partials/header')%> 
    
<div class="BoxContainerIndex">
  
  <div class="BoxDisplayText">
    <div class="ContainerAnimText">
        <% if (typeof errorMessage !== 'undefined') { %>
          <h1 class="TextAnim error-message"><%= errorMessage %></h1>
        <% } %>
        <% if (typeof successMessage !== 'undefined') { %>
          <h1 class="TextAnim success-message"><%= successMessage %></h1>
          <h1 class="TextAnim success-message">Please Login</h1>
        <% } %>        
      <h1 class="TextAnim active">Hi! Welcome Back :D</h1>
      <h1 class="TextAnim">Do You Ready</h1>
      <h1 class="TextAnim">To Beat Your Score 🔥</h1>
      <h1 class="TextAnim">Modern Clicking Counter</h1>
      <h1 class="TextAnim">Challenge Yourself</h1>
    </div>
    <div class="ContainerTextDesc"></div>
    <p class="deskripsi1">Know your limit at clicking</p>
    <p class="deskripsi2">with saving point features</p>
    <p class="deskripsi3">Generally, calculating mouse clicks is referred to as ‘click speed test’’. Our website offers many variations by which a user can test his mouse clicking ability. The click speed test is more like a pass time game where players try to score the highest score.</p>
    <p class="deskripsi4">it's up to you how fast you can click, Now what are you waiting for? Register right away to unlock your rank and compare your speed with other players around the world!</p>
  </div>
  
  <div class="BoxDisplayAccount">
    <button onclick="location.href='/'" class="backbuttonlogin">
      Back
    </button>
    <div class="login-container">
=======
<%- include('partials/header')%>

<div class="KotakUtamaLog">
  <div class="KotakTeksLog">
    <div class="KotakAnimLog">
      <h1 class="TeksAnimLog active">Hi! Welcome to iClick :D</h1>
      <h1 class="TeksAnimLog">Do You Ready</h1>
      <h1 class="TeksAnimLog">To Beat Your Score 🔥</h1>
      <h1 class="TeksAnimLog">Modern Clicking Counter</h1>
      <h1 class="TeksAnimLog">Challenge Yourself</h1>
    </div>
    <div class="KotakDesLog"></div>
    <p class="deskripsi1Log">Know your limit at clicking</p>
    <p class="deskripsi2Log">with saving point features</p>
    <p class="deskripsi3Log">
      Generally, calculating mouse clicks is referred to as ‘click speed test’’.
      Our website offers many variations by which a user can test his mouse
      clicking ability. The click speed test is more like a pass time game where
      players try to score the highest score.
    </p>
    <p class="deskripsi4Log">
      it's up to you how fast you can click, Now what are you waiting for?
      Register right away to unlock your rank and compare your speed with other
      players around the world!
    </p>
  </div>

  <div class="KotakGridLog">
    <div class="KotakLoginLog">
>>>>>>> ver.2.1.28
      <h2>Login</h2>
      <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          required
        />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />

<<<<<<< HEAD
        <button type="submit">Login</button>
      </form>

      <p class="register-link">
=======
        <p class="PsnErrorLog">
          <%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>
        </p>

        <p class="PsnSuccessLog">
          <%= typeof successMessage !== 'undefined' ? successMessage : '' %>
        </p>

        <button type="submit" class="SubmitLog">Login</button>
      </form>

      <p class="LinkRegis">
>>>>>>> ver.2.1.28
        Dont have an account? <a href="/register">Register here</a>
      </p>
    </div>

<<<<<<< HEAD


<script src="/js/navbar.js"></script>
<script src="/js/index.js"></script>
=======
    <script src="/js/AnimTeks.js"></script>
  </div>
</div>
>>>>>>> ver.2.1.28
